.card {
  max-width: 500px;
  margin: auto;
}
* {
  margin: 0;
  padding: 0;
}
i {
  padding: 0.5rem;
  cursor: pointer;
}
#todo-list li {
  display: flex;
  justify-content: space-between;
  border: rgba(153, 150, 148, 0.938) solid 1px;
  background-color: rgb(223, 223, 223);
}
